{% extends 'base.html.twig' %}

{% block title %}Edit Developper{% endblock %}

{% block body %}
    <h1>Edit Developper</h1>

    {{ include('developper/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('developper_index') }}">back to list</a>

    {{ include('developper/_delete_form.html.twig') }}
{% endblock %}